include README.md
include LICENSE
recursive-include simple_admin_overlay/static *
recursive-include simple_admin_overlay/templates *.html
recursive-include docs *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]