#django-admin-layer {
  font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
  position: fixed;
  z-index: 99999 !important;
  background: #136CB2;
  color: #fff;
  -webkit-box-shadow: 0px 10px 40px -10px rgba(0,0,0,0.67);
  -moz-box-shadow: 0px 10px 40px -10px rgba(0,0,0,0.67);
  box-shadow: 0px 10px 40px -10px rgba(0,0,0,0.67);
}

#django-admin-layer[data-state='closed'] #apps-container {
  display: none;
}

#django-admin-layer[data-position='top'] {
  top: 0;
  left: 0;
  width: 100%;
}

#django-admin-layer[data-position='right'] {
  top: 0;
  right: 0;
  height: 100%;
  width: 200px
}

#django-admin-layer[data-position='bottom'] {
  bottom: 0;
  width: 100%;
}

#django-admin-layer[data-position='left'] {
  top: 0;
  left: 0;
  height: 100%;
  width: 200px
}

#django-admin-layer[data-position='right'][data-state='closed'],
#django-admin-layer[data-position='left'][data-state='closed'] {
  width: auto;
}

#django-admin-layer a {
  text-decoration: none;
}

#django-admin-layer .models-container {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#django-admin-layer[data-position='top'] .app-container {
  padding: 20px 20px 40px 20px;
}

#django-admin-layer[data-position='right'] .app-container {
  padding: 20px 20px 20px 40px;
}

#django-admin-layer[data-position='bottom'] .app-container {
  padding: 40px 20px 20px 20px;
}

#django-admin-layer[data-position='left'] .app-container {
  padding: 20px 40px 20px 20px;
}

#django-admin-layer[data-position='right'] .app-container,
#django-admin-layer[data-position='left'] .app-container {
  clear: left;
}

#django-admin-layer[data-position='top'] .app-container,
#django-admin-layer[data-position='bottom'] .app-container {
  float: left;
}

#django-admin-layer .app-link-container {
  margin-bottom: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#django-admin-layer .app-link-container a.app-link {
  font-size: 0.9rem;
  text-transform: uppercase;
  color: #fff;
  font-weight: 600;
}

#django-admin-layer .model-link-container {
  float: left;
}

#django-admin-layer .model-link-container {
  margin: 5px 5px 0 0;
}

#django-admin-layer .model-link-container a.model-link {
  padding: 5px 7px;
  font-size: 0.7rem;
  color: #136CB2;
  background-color: #fff;
  text-transform: uppercase;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

#django-admin-layer .model-link-container a.model-link:hover,
#django-admin-layer .model-link-container a.model-link:focus {
  background: #1b4467;
  color: #fff;
}

#django-admin-layer .toggle-container {
  position: absolute;
}

#django-admin-layer[data-position='top'][data-state='open'] .toggle-container {
  bottom: -11px;
  left: 50%;
  transform: translate(-50%, -50%);
}

#django-admin-layer[data-position='top'][data-state='closed'] .toggle-container {
  bottom: -38px;
  left: 50%;
  transform: translate(-50%, -50%);
}

#django-admin-layer[data-position='right'][data-state='open'] .toggle-container {
  bottom: 50%;
  left: 0;
}

#django-admin-layer[data-position='right'][data-state='closed'] .toggle-container {
  bottom: 50%;
  left: -30px;
}

#django-admin-layer[data-position='bottom'][data-state='open'] .toggle-container {
  top: 14px;
  left: 50%;
  transform: translate(-50%, -50%);
}

#django-admin-layer[data-position='bottom'][data-state='closed'] .toggle-container {
  top: -13px;
  left: 50%;
  transform: translate(-50%, -50%);
}

#django-admin-layer[data-position='left'][data-state='open'] .toggle-container {
  bottom: 50%;
  right: 0;
}

#django-admin-layer[data-position='left'][data-state='closed'] .toggle-container {
  bottom: 50%;
  right: -30px;
}

#django-admin-layer .toggle-container a {
  background: #136CB2;
  background-repeat: no-repeat;
  background-size: 30px;
  color: #fff;
}

#django-admin-layer[data-position='top'][data-state='open'] .toggle-container a {
  padding: 5px 20px;
  background-image: url(../img/caret-up.png);
  background-position: 4px -1px;
  background-color: #fff;
  opacity: 0.8;
  -webkit-border-top-left-radius: 2px;
  -webkit-border-top-right-radius: 2px;
  -moz-border-radius-topleft: 2px;
  -moz-border-radius-topright: 2px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

#django-admin-layer[data-position='top'][data-state='closed'] .toggle-container a {
  padding: 5px 20px;
  background-image: url(../img/caret-down-inverse.png);
  background-position: 4px -1px;
  -webkit-border-bottom-left-radius: 2px;
  -webkit-border-bottom-right-radius: 2px;
  -moz-border-radius-bottomleft: 2px;
  -moz-border-radius-bottomright: 2px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

#django-admin-layer[data-position='right'][data-state='open'] .toggle-container a {
  padding: 10px 15px;
  background-image: url(../img/caret-right.png);
  background-position: 0px 4px;
  background-color: #fff;
  opacity: 0.8;
  -webkit-border-top-right-radius: 2px;
  -webkit-border-bottom-right-radius: 2px;
  -moz-border-radius-topright: 2px;
  -moz-border-radius-bottomright: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

#django-admin-layer[data-position='right'][data-state='closed'] .toggle-container a {
  padding: 10px 15px;
  background-image: url(../img/caret-left-inverse.png);
  background-position: 0px 4px;
  -webkit-border-top-left-radius: 2px;
  -webkit-border-bottom-left-radius: 2px;
  -moz-border-radius-topleft: 2px;
  -moz-border-radius-bottomleft: 2px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

#django-admin-layer[data-position='bottom'][data-state='open'] .toggle-container a {
  padding: 5px 20px;
  background-image: url(../img/caret-down.png);
  background-position: 4px -1px;
  background-color: #fff;
  opacity: 0.8;
  -webkit-border-bottom-left-radius: 2px;
  -webkit-border-bottom-right-radius: 2px;
  -moz-border-radius-bottomleft: 2px;
  -moz-border-radius-bottomright: 2px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

#django-admin-layer[data-position='bottom'][data-state='closed'] .toggle-container a {
  padding: 5px 20px;
  background-image: url(../img/caret-up-inverse.png);
  background-position: 4px -1px;
  -webkit-border-top-left-radius: 2px;
  -webkit-border-top-right-radius: 2px;
  -moz-border-radius-topleft: 2px;
  -moz-border-radius-topright: 2px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

#django-admin-layer[data-position='left'][data-state='open'] .toggle-container a {
  padding: 10px 15px;
  background-image: url(../img/caret-left.png);
  background-position: 0px 4px;
  background-color: #fff;
  opacity: 0.8;
  -webkit-border-top-left-radius: 2px;
  -webkit-border-bottom-left-radius: 2px;
  -moz-border-radius-topleft: 2px;
  -moz-border-radius-bottomleft: 2px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

#django-admin-layer[data-position='left'][data-state='closed'] .toggle-container a {
  padding: 10px 15px;
  background-image: url(../img/caret-right-inverse.png);
  background-position: 0px 4px;
  -webkit-border-top-right-radius: 2px;
  -webkit-border-bottom-right-radius: 2px;
  -moz-border-radius-topright: 2px;
  -moz-border-radius-bottomright: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}